* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: linear-gradient(90deg, rgb(46, 56, 185) 18%, rgba(43, 64, 180, 1) 50%, rgba(17, 22, 87, 1) 87%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    max-width: 1536px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 1rem black;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-x: hidden;
    align-items: center;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    margin: 30px 0 30px 50px;
}

nav {
    width: 100%;
    text-align: right;

}

li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

.nav-link {
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.nav-link:hover {
    color: rgb(52, 52, 219);
}

.center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
    justify-content: center;
}

.colunm-1 {
    margin-left: 50px;
    position: relative;
}

h1 {
    font-size: 54px;
}

h2 {
    font-size: 38px;
    color: rgb(70, 70, 70);
    font-weight: 100;
    margin: 20px 0;
}

.colunm-1 p {
    font-size: 16px;
    color: #b7b7b7;
    font-weight: 100;
}

.colunm-1::before {
    content: "";
    width: 10px;
    height: 57%;
    background: linear-gradient(90deg, rgb(71, 116, 199) 25%, rgb(54, 61, 168) 100%);
    position: absolute;
    left: -40px;
    top: 8px;
}

h3 {
    font-size: 20px;
    color: black;
    margin: 30px;
}

.buy {
    width: 140px;
    border: none;
    outline: none;
    padding: 12px 0;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    background: linear-gradient(90deg, rgb(71, 116, 199) 25%, rgb(54, 61, 168) 100%);
    transition: all 0.65s ease-in-out;
}

.buy img {
    width: 30px;
    display: none;
}

.buy:hover {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 180px;
}

.buy:hover img {
    display: block;
}

.colunm-2 {
    display: flex;
    align-items: center;
    position: relative;
}

.controller {
    width: 90%;
    min-width: 300px;
    z-index: 2;
    animation: moveController 2s infinite alternate ease-in-out;

}

.color-box {
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(90deg, rgb(71, 116, 199) 25%, rgb(54, 61, 168) 100%);
    height: 100%;
    width: 80%;
    border-radius: 20px 0 0 20px;
    z-index: 1;
    transform: translateX(150px);
}

.ad-cart {
    z-index: 2;
    border: none;
    background: transparent;
    cursor: pointer;
}

.ad-cart img {
    height: 50px;
    width: 50px;
}

.social-links {
    display: flex;
    justify-content: center;

    
}

.social-links img { 
    height: 25px;
    margin: 25px;
    cursor: pointer;
}

.menu {
    display: none;
    width: 30px;
    margin-right: 50px;
}


@media  (max-width: 800px) {

    .container {
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }
}


@media  (max-width: 640px) {

    .center {
        display: flex;
        flex-direction: column-reverse;
    }
    
    #menu-list {
        position: relative;
        top: 60px;
        left: 60px;
        overflow: hidden;
        transition: all 0.7s ease;
        cursor: pointer;
        
    }

    .nav-link {
        display: block;
    }

    .menu {
        display: block;
    }

    .nav-li {
        display: block;
        margin-top: 5px;
    }

    .colunm-2 {
        margin-bottom: 20px;
        
    }

    .colunm-1 {
        text-align: center;
        padding-right: 50px;
    }

    .colunm-1::before {

        height: 60%;
        left: -10px;

    }

    .colunm-1::after {
        content: "";
        width: 10px;
        height: 60%;
        background: linear-gradient(90deg, rgb(71, 116, 199) 25%, rgb(54, 61, 168) 100%);
        position: absolute;
        right: -10px;
        top: 8px;
        margin-right: 48px;
    }

}
@media (max-width: 300px) {
    .colunm1-text {
        font-size: 150%;
    }
}

@keyframes moveController {
    from {
         transform: translate(-5%, -5%) rotate(-5deg);
    }
}